<% provide(:title, '') %>
<div>

<h1>
    
    Welcome to the -Ura-
</h1>
<h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">-Ura-</a>
    sample application.
</h2>

<h3>
    
    <%= link_to "Tourist", "#" , class: "button1" %>
</h3>
<h6>
    <%= link_to "Local", '#', class: "button1" %>
</h6>

<h4>
※ログインがお済みではない場合ログインページに移動します。
</h4>

<h7>
※ログイン済みの方は各一覧ページに移動します
</h７>

<h5>
 <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>

</h5>
</div>


