@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: hsl(188, 82%, 56%);


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// 背景画像

.cat {
  background-image: url(../img/cat1.jpg); /* 背景の場所を指定する */
  background-size: cover;                 /* 繰り返し表示を防ぐ */
  width: 300px;
  height: 500px;                         /* 幅と高さを指定する */
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: rgb(66, 169, 87);
    text-decoration: none;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 16px;
  font-weight: bold;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
$light-gray: hsl(180, 48%, 37%);
  border-top: 1px solid $gray-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// button 1 //

.button1{
  display: block;
  width: 450px;
  height: 150px;
  text-decoration: none;
  background: #a0cce3;;
  text-align: center;
  font-size: 300%;
  margin: 50px;
  transition: .3s;
  padding: 20px;
  border-radius:60px;

}
.button1:hover{
  margin: 50px 10px 10px;
}

// button2 //

//背景


/* universal */
// Home //

body {
  margin: 100px;
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.google.com/maps/uv?pb=!1s0x60188cb79a4c26e5%3A0x8fca893849103f73!3m1!7e164!15sCgIgAQ&hl=ja&viewerState=ga&cr=ll_a7&imagekey=!1e10!2sAF1QipNoz1M83HSQW_UakKEYA_M0qXqxGP4WRu3K9E0L");
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position:50% 50%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


// home //
.home


  h1 {
    margin-bottom: 10px;
  } 


h1{
  font-weight: 1px; //Welcome to the -Ura-
  text-align: center;
  
}

h2{
  font-size: 15px;
  text-align: center; //This is the home page for the -Ura- sample application.


}
h3{
  font-size: xx-large;
  border-radius: 90px;  // Tourist
  text-align: center;
}

h6{
  font-size: xx-large; // local
  border-radius: 90px;
  text-align: center; 

}

h4{
  font-size: xx-small;  //※ログインがお済みではない場合ログインページに移動します。
 }

h7{
  font-size: xx-small;  //※ログイン済みの方は各一覧ページに移動します
  padding-bottom: 90px;
  padding-top: 0px;
}

h5{ 
  padding-top: 40px;
  text-align: center;  // sign up now !
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}