<header>
  <h1>
    <a href="/">-Ura-</a>
  </h1>
  <nav class="Ura">
    <ul>
      <li><a href="#"> ここに右上の必要項目 </a></li>
      <li><a href="#"> about的なw </a></li>
      <li><a href="#"> homeもあってもいいかも </a></li>

</header>