<header>
  <h1>
    <a href="/">-Ura-</a>
  </h1>
  <nav class="Ura">
 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Ura", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",  root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Login", users_path %></li>
          </ul>
        </nav>
      </div>
</header>

    